
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.see{
    color: #E02C6D;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    left: 1010px;
}

 header{
     /* background-color: #FFF8F3;  */
     /* padding-top: 50px;  */
     background: url(Images/Circle\ design.svg);
    /* background-size:contain; */
    /* position: relative; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-position: 50rem 8rem;
    
}  



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 30px;
    
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    
}
.nav-links a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 500;
}
.logo{
    font-size: 1.62rem;
    color: #3A3A3A;
    font-weight: 600;
}

#banner{
    display: flex;
    padding-top: 80px;
    width: 78%;
    max-width: 1110px;
    margin: 0 auto;
   
}
.banner-content{
    max-width: 560px;
    justify-items: center;
    
}
.banner-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-content p{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
}
.primary-btn{
    margin-top: 20px;
    padding: 15px 24px;
    border-radius: 42px;
    background-color: #E02C6D;
    border: none;
    color: #ffff;
}
.banner-img img{
  position: relative;
  max-width: 400px; 
  left: 5rem;
  vertical-align: middle;
  
}
.sponsor{
    width: 78%;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    /* border: 1px solid #AAAAAA; */
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
}

/* pular container */

.heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #3A3A3A;
}
.popular-container{
    width: 78%;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
  
}
.popular-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
}

.card{
    background-color: #ffffffe8;
    padding: 15px;
     box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
     border-radius: 8px;
    /* text-align: center; */
}
.card h4{
    font-size: 24px;
    font-weight: 500;
    color: #3A3A3A;
}
.card h5{
    font-size: 18px;
    font-weight: 500;
    color: #3A3A3A;
}
.star{
    color: #FB8200;
}
.footer-banner{
    width: 78%;
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 90px;
}
 .footer-content{
     margin-left: 40px; 
    justify-items: center;
    align-items: center;
    /* text-align: center; */
} 

/* Footer section */
.footer{
    width: 100%;
    max-width:1640px ;
    margin: 0 auto;
    /* margin-right: 0px; */
    /* margin-left: 100px; */
    border-radius: 10px;
    background-color: black;
    padding: 30px;
}
.footer-text{
    text-align: center;
    color: aliceblue;
}
.footer-text h3{
    font-size: 24px;
    font-weight: 700;
    color: #e6d8d8;
}
.footer-text{
    font-size: 16px;
    color: grey;
}
.footer-icon{
    color: #646363;
    text-align: center;
    margin-top: 15px;
    
}


/* mobile responsive style */
@media screen and (max-width:576px){

    header{
        /* background-position: left 750px; */
         background-size: 355px; 
        background-position: left center ;
        /* background: none; */
    }
    .logo{
        margin-left: 10px;
    }
    .nav-links{
        flex-wrap: wrap;
    }
    .see{
        left: 0px;
    }
    .navbar,#banner,.footer-banner{
        flex-direction: column;
    }
    .nav-links{
        margin-left: 30px;
        margin-top: 20px;
    }
    #banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        /* margin-bottom: 150px; */
        margin-top: 150px; 
        /* margin-left: 30px;  */
    }
    .banner-img img{
        width: 100%;
        /* position: relative; */
        /* right: 20px; */
        top: 70px;
        transform: translateX(-50px);
        
        
        
    }
    .banner-img {
        width: 268px;
       
        /* margin-top: 20px;
        margin-right: 35px; */
        
    }
    .sponsor-img{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        /* margin-left: 10px; */
    }
    .sponsor{
        margin-left: 40px;
    }
    
    .popular-container {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .footer-content{
        margin-right: 20px;
    }
    .footer{
        margin: 0 auto;
    }
    
}